body {
    font-family: Arial, sans-serif;
    background: #0e9898;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.time {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
}

.buttons button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(74, 159, 8);
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #17aa9c;
}

th {
    background-color: #9d9b1e;
}
